.iframevideo {
    border: none;
    max-width: 100%;
}

.darkmode{
    background-color: #373a3c;
    color: black;
    transition: background-color 1s;
}

.image_admin {
    max-width: 100%;
}

@media screen and (max-width: 450px) {
   .iframevideo {
       height: 200px;
   }
}