/*
 * Globals
 */

html, body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;

}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

/*
 * Blog name, description & logo
 */

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}

.logo {
    max-width: 100%;
    margin-top: -10px;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

/* Categories & Date */

#categories {
    list-style-type: none;
    float: right;
    margin-top: -80px;
    font-size: 13px;
}

#categories > h2 {
    font-size: 15px;
    float: right;
    font-weight: bold;
}

#date {
    list-style-type: none;
    float: right;
    margin-top: -80px;
    font-size: 13px;
}
#date > h2 {
    font-size: 15px;
    font-weight: bold;
}


/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}

.blog-post > img {
    max-height: 500px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
    width: 80%;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

img {
    max-width: 100%;
}

.skin.flat .layer-content {
    background-color: rgba(0,0,0,0.1);
}

/* Contact Page */

#contact {
    background-color: rgba(0,0,0,0.13);
    padding-left: 20px;
}

#contactform {
    margin-top: 30px;
    background-color: rgba(0,0,0,0.13);
    padding: 15px;
}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
    resize: none;
}

/*
 * Comments
 */

ul.comment-list {
    margin-left: -40px;
}

ul.comment-list,
ul.children{
    list-style: none;

}

li.comment {
    padding: 15px;
    background: lightgrey;
    border:  dotted black 3px;
}

ul.children > li.comment {
    background: darkgray;
}

div.comment-body {
    padding-bottom: 15px;
}

textarea#comment {
    resize: none;
    max-width: 100%;
}

/*
 * Footer & Widgets
 */

.blog-footer {
    padding: 130px 0;
    color: #999;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    margin-top: 40px;
}

.heading1 {
    font-size: 50px;
}

.bigpic {
    margin-top: 20px;
}

.blog-footer #widgets {
    margin-top: -120px;
    text-align: center;
    list-style-type: none;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.widget_categories > ul,
.widget_archive > ul{
    list-style-type: none;
    margin-right: 40px;
}

h3.widget-title {
    font-size: 20px;
}

div#calendar_wrap {
    max-width: 31%;
    margin-left: auto;
    margin-right: auto;
}


li.page_item:hover {
    background-color: rgba(28,44,53,0.38);
    transition: 0.3s;
}

li.current_page_item {
    background-color: lightgrey;
}

.post-categories {
    color: black;
    list-style-type: none;
    float: right;
    margin-top: -35px;
    font-size: 15px;
}

/*Shortcode_button Plugin */
.button {
    border-radius: 5px;
    background-color: red;
    color: blue;
    display: inline-block;
    font: 700 16px Arial, Sans-Serif;
    margin: 0 10px 20px 0;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    text-transform: uppercase;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
    .blog-footer {
        padding: 30px 0;
    }

    .blog-footer #widgets {
        margin-top: -10px;
    }
    div#calendar_wrap {
        max-width: 16%;
    }
}